.ability-button-container {
    position: absolute;
    top: 0;
    left: 45px;
    width: 32px;
    height: 32px;
    padding: 3px;
    margin-top: 6px;

    button {
        width: 100%;
        height: 100%;
    }

    i,
    svg {
        padding: 0 !important;
    }
}
