.ability-button-container {
    position: absolute;
    top: 2.75em;
    width: 32px;
    height: 32px;
    padding: 0.25em;

    button {
        width: 100%;
        height: 100%;
    }

    i,
    svg {
        padding: 0 !important;
    }
}
