.button-container {
    padding: 0.5em;

    user-select: none;

    .button-image {
        position: relative;
        float: left;
    }

    .button-icon {
        position: relative;

        font-size: var(--icon-size);
    }

    .button-icon-right {
        position: relative;

        padding-left: 0.5em;

        font-size: var(--icon-size);
    }

    .button-float-icon {
        position: relative;

        font-size: var(--icon-size);
    }

    .button-float-icon-right {
        position: relative;
        float: right;

        padding-left: 0.5em;

        font-size: var(--icon-size);
    }

    .button-indicator {
        position: absolute;
        bottom: -5px;

        border-radius: 0.5em;

        width: 1em;
        height: 1em;

        background: var(--light-red);

        animation: fade 4s ease-in-out infinite;
        opacity: 1;
    }

    .button-title {
        display: inline-grid;
        height: 100%;
        vertical-align: middle;
    }
}

.button-container-small {
    padding: 0.75em;
}

.button-container-tiny {
    padding: 0.25em;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.select-button {
    padding: 0.5em;
    width: 6em;
    float: left !important;
}

.selected {
    background-color: #383838 !important;
}
