.game-text-dialog-container {
    flex: 1;
    justify-content: space-between;
    padding: 16px;
}

.game-text-dialog-text {
    font-family: Montserrat;
    font-size: var(--text-size);
    text-transform: none;

    letter-spacing: 2px;
}

.game-text-dialog-button {
    display: flex;
    justify-content: center;
}
