.ability-score-title {
    font-size: var(--title-size);
    text-align: center;
    padding: 0.5em 0.5em 0;
}

.game-text-dialog-text {
    text-align: center;
}

.ability-score-dialog-container {
    flex: 1;
    justify-content: space-between;
    padding: 1em;
}

.ability-score-dialog-text {
    font-family: Montserrat;
    text-transform: none;

    letter-spacing: 2px;

    text-align: left;
    display: inline-block;

    margin-top: 0.5em;
    margin-bottom: -0.5em;
    height: 2em;
}

.ability-score-dialog-button {
    justify-content: center;
    float: right;
}

.ability-score-dialog-score-text {
    font-family: Roboto, monospace;
    font-size: 1em;
    text-transform: none;

    letter-spacing: 2px;

    margin: 1em;
}

.ability-score-dialog-points {
    width: max-content;
    float: right;
}
