.game-instructions-title {
    font-size: var(--title-size);
    text-align: center;

    padding: 12px 0;
}

.game-instructions-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;

    color: var(--gray);

    letter-spacing: 1px;
    text-transform: none;
    text-align: center;

    padding: 0 2em;

    .game-instructions-native-text {
        padding-left: 8px;
        max-width: 175px;
    }
}

.game-instructions-button {
    padding: 1em 0;

    align-items: center;
}
