.inventory-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    transition: width 0.25s ease-out;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--dark-gray);

    button {
        min-width: 12em;
    }
}
