.spellbook-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    padding: 4px;

    button {
        width: 100%;
        height: 100%;
    }

    i,
    svg {
        padding: 0 !important;
    }
}

.spell {
    position: relative;
    top: -35px;
    right: 45px;
    width: 32px;
    height: 32px;
}
