.game-start-title {
    justify-content: center;

    padding: 1em 1em 0;

    font-size: var(--title-size);
}

.game-start-text {
    flex: 1;

    letter-spacing: 1px;
    text-align: center;

    justify-content: center;

    padding: 0 32px;
}

.game-start-button {
    padding: 16px;

    align-items: center;
}

.game-start-flame-1 {
    position: absolute;
    bottom: 50px;
    right: 75px;
}

.game-start-flame-2 {
    position: absolute;
    bottom: 100px;
    right: 75px;
}

.game-start-flame-3 {
    position: absolute;
    bottom: 150px;
    right: 75px;
}
