.character-creation-title {
    font-size: var(--title-size);
    text-align: center;
    padding: 0.5em 0.5em 0;
}

.character-creation-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;

    color: var(--gray);

    letter-spacing: 1px;
    text-transform: none;
    text-align: center;

    padding: 0 2em;

    .character-creation-native-text {
        padding-left: 0.5em;
        max-width: 175px;
    }
}

.character-creation-button {
    padding: 0.5em 0;
    align-items: center;
}

.character-creation-input {
    height: 2.5em;
    background-color: black;
    color: var(--gray);
    padding: 0 0.5em;
    margin: 0 0.5em;
}

.container {
    padding-top: 0.5em;
    display: flex;
}

.container.space-around {
    justify-content: space-around;
}

.container.space-between {
    justify-content: space-between;
}
