.floor-counter-container {
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: var(--title-size);

    color: var(--dark-gray);

    width: fit-content;
    margin: 0.25em auto;
    padding: 0 0.5em;

    background: var(--gray);
    border-radius: 0.5em;

    user-select: none;

    .floor-counter-value {
        padding-left: 0.5em;
    }
}
