.ability-score-container {
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.ability-score-text {
    font-family: Montserrat;
    text-transform: none;

    letter-spacing: 2px;

    text-align: left;
    display: inline-block;
}

.ability-score-button {
    justify-content: center;
    float: right;
}

.ability-score-score-text {
    font-family: Montserrat;
    text-transform: none;
    letter-spacing: 2px;
    margin-right: 0.5em;
    width: 1.5em;
    float: right;
    text-align: right;
}

.ability-score-tooltip {
    float: right;
    justify-content: center;
    margin-top: 5px;
    margin-left: 15px;

    .ability-score-tooltip-text {
        font-family: Montserrat;
        text-transform: none;
        font-weight: 400;
        visibility: hidden;

        padding: 0.5em;

        background-color: var(--dark-gray);
        border: 0.5px var(--gray) solid;

        color: var(--gray);

        position: absolute;
        right: 2.5rem;

        z-index: 1;
    }
}

.ability-score-tooltip:hover .ability-score-tooltip-text {
    visibility: visible;
}
