.journal-container {
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex: auto;
}

.journal-button-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    transition: width 0.25s ease-out;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--dark-gray);
    margin: 0 0.25em;

    button {
        min-width: 12em;
    }
}

.journal-entry {
    padding: 0px 5px;
    margin: -0.75em 0;
}

.damage-type,
.gold,
.type {
    color: var(--orange);
}

.ai,
.damage-to-player,
.damage-to-monster {
    color: var(--light-red);
}

.experience,
.level,
.ability {
    color: var(--purple);
}

.mana-gain,
.restore-mana,
.score {
    color: var(--blue);
}

.projectile,
.restore-health,
.health-gain,
.spell-cast,
.get-item {
    color: var(--green);
}
