.journal-dialog-container {
    flex: 1;
    overflow-y: scroll;
}

.journal-button-container {
    flex: 1;

    align-items: center;
    justify-content: space-around;

    z-index: 100;

    margin-top: 10px;
}

.journal-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
