.snackbar-container {
    background-color: var(--dark-gray);

    text-align: center;

    cursor: default;
    user-select: none;

    display: flex;
    flex: auto;

    display: flex;
    position: absolute;
    place-content: center;

    bottom: 14.25em;

    width: calc(100% - 1.25em);
    height: 1.5em;
}

.snackbar-text {
    display: flex;
    flex: 1;

    align-self: center;
    justify-content: center;
}

.snackbar-equip-text {
    display: flex;
    flex: 1;

    align-self: center;
    justify-content: flex-start;
}

.snackbar-equip-button {
    height: 36px;
    width: 40px;

    background-color: var(--dark-gray);

    top: 1.5px;
    right: 5px;
    bottom: 1px;

    user-select: none;

    position: absolute;

    z-index: 100;

    .button-icon {
        font-size: var(--icon-size);

        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
