.stats-container {
    justify-content: center;

    transition: background 0.5s ease-in-out;

    cursor: default;
    user-select: none;

    width: 100%;
    margin-top: 8px;
}

.stats-row-spacing {
    padding-bottom: 15px;
}

.stats-text-spacing {
    padding-right: 10px;
    font-size: 15px;
    font-family: "Roboto Mono";
}

.stats-text-info {
    color: var(--white);
    font-size: 16px;
    text-transform: none;
    font-family: "Roboto Mono";
}

.stats-text-level {
    color: var(--blue);
    font-size: 18px;
}

.stats-text-gold {
    color: var(--orange);
    font-size: 18px;
}

.stats-text-defence {
    color: var(--purple);
    font-size: 18px;
}

.stats-text-blank {
    color: var(--text-color, black);
}

.stats-text-melee {
    color: var(--light-red);
    font-size: 14px;
}

.stats-text-ranged {
    color: var(--green);
    font-size: 14px;
}

.stats-text-magic {
    color: var(--blue);
    font-size: 14px;
}

.stats-column-spacing {
    padding-left: 12px;
}

.stats-column-spacing-large {
    padding-left: 24px;
}

.stats-bar-container {
    width: 100px;
    height: 20px;
    position: relative;
    border-radius: 7px;

    .stats-bar-value {
        height: 20px;
        border-radius: 5px 0px 0px 4px;
        position: absolute;
        transition: width 1s ease-in-out;
    }
}

.exp-bar-container {
    background: var(--gray);
    border: 1px solid purple;

    .exp-bar-value {
        background: purple;
    }
}

.stats-health-bar-container {
    background: var(--red);
    border: 1px solid var(--green);

    .stats-health-bar-value {
        background: var(--green);
    }
}

.stats-mana-bar-container {
    background: var(--grey);
    border: 1px solid var(--blue);

    .stats-mana-bar-value {
        background: var(--blue);
    }
}

.stats-bar-text {
    height: 20px;
    font-size: 22px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    font-weight: 500;

    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
}

.stats-health-bar-text {
    color: lightgray;
}

.stats-exp-bar-text {
    color: lightyellow;
}

.stats-mana-bar-text {
    color: lightyellow;
}
