.stats-container {
    min-width: 18em;
    min-height: 10em;
    max-height: 10em;
    padding: 0.25em;
}

.stats-row-spacing {
    padding-bottom: 1em;
}

.stats-text-spacing {
    padding-right: 0.5em;
    font-family: "Roboto Mono";
}

.stats-text-info {
    color: var(--white);
    text-transform: none;
    font-family: "Roboto Mono";
}

.stats-text-level,
.stats-text-magic {
    color: var(--blue);
}

.stats-text-gold {
    color: var(--orange);
}

.stats-text-defence {
    color: var(--purple);
}

.stats-text-blank {
    color: var(--text-color, black);
}

.stats-text-melee {
    color: var(--light-red);
}

.stats-text-ranged {
    color: var(--green);
}

.stats-column-spacing {
    flex: auto;
    width: 6em;
}

.stats-column-spacing-large {
    padding-left: 1.5em;
}

.stats-bar-container {
    width: 5em;
    height: 1.25em;
    position: relative;
    border-radius: 0.5em;

    .stats-bar-value {
        height: 100%;
        border-radius: 5px 0px 0px 4px;
        position: absolute;
        transition: width 1s ease-in-out;
    }
}

.exp-bar-container {
    background: var(--gray);
    border: 1px solid purple;

    .exp-bar-value {
        background: purple;
    }
}

.stats-health-bar-container {
    background: var(--red);
    border: 1px solid var(--green);

    .stats-health-bar-value {
        background: var(--green);
    }
}

.stats-mana-bar-container {
    background: var(--grey);
    border: 1px solid var(--blue);

    .stats-mana-bar-value {
        background: var(--blue);
    }
}

.stats-bar-text {
    height: 20px;
    font-size: 22px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    font-weight: 500;

    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
}

.stats-health-bar-text {
    color: lightgray;
}

.stats-exp-bar-text {
    color: lightyellow;
}

.stats-mana-bar-text {
    color: lightyellow;
}
