.map-padding-bottom {
    position: absolute;
    bottom: -160px;
}

.map-padding-top {
    position: absolute;
    top: -160px;
}

.map-padding-left {
    position: absolute;
    top: -160px;
    left: -160px;
}

.map-padding-right {
    position: absolute;
    top: -160px;
    right: -160px;
}
