.spellbook-dialog-container {
    margin: 16px 0 9px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.spellbook-dialog-title {
    font-size: var(--title-size);
    font-weight: 500;

    text-align: center;
    padding: 0.5em 0.5em 0;
}

.spellbook-spell {
    margin: 8px 16px 0;
}

.spellbook-spell button {
    width: 100%;
    margin: auto;
}
