.tutorial-page-title {
    position: relative;
    top: 5px;
    width: 20rem;
    text-align: center;
    font-size: var(--title-size);
    font-weight: 400;
    padding-left: 30px;
}

.tutorial-page-movement {
    position: relative;
    margin-top: 10px;
    padding: 0px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-item {
    position: relative;
    margin-top: 10px;
    padding: 0px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-item-locations {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.tutorial-page-item-types {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.tutorial-page-shop {
    position: relative;
    margin-top: 10px;
    text-transform: none;
    width: 200px;
}

.tutorial-page-shop-tiers {
    position: relative;
    margin-left: 10px;
    text-transform: none;
}

.tutorial-page-combat {
    position: relative;
    padding: 15px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-combat-buttons {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.tutorial-page-ability {
    flex: 1;
    justify-content: space-between;
    position: relative;
    padding: 10px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-ability-text {
    font-size: 15px;
}
.tutorial-page-ability-description {
    display: inline-block;
    overflow-wrap: break-word;
    margin-top: 1px;
    margin-left: 0.5em;
    font-size: var(--text-size);
    text-align: left;
}

.tutorial-page-spell {
    position: relative;
    padding: 10px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-spell-icons {
    flex: 1;
    justify-content: space-around;
    margin-top: 0.5em;
}

.tutorial-page-hotkeys {
    margin: auto;
    position: relative;
    padding: 10px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-dice {
    margin: auto;
    position: relative;
    padding: 10px 5px 5px 5px;
    text-transform: none;
}

.tutorial-page-dice-types {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
